@use "../01-utilities" as *;

.footer {
    letter-spacing: 0.5px;
	text-align: center;
	font-size: pxToRem(14);
	margin-bottom: 24px;
	color: $black;
    font-weight: $bold;


    @include mq(tablet) {
	    font-size: pxToRem(16);
		margin-bottom: 36px;
    }

    &__github-link {
        position: relative;
        padding: 6px 0;
        margin-left: 2px;
        font-weight: $bold;
        color: $cyan;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 2px;

            transform: scaleX(0);
            transform-origin: center;

            background: #71CFC9;
            border-radius: 100%;

            transition: transform 300ms;
        }

        &:hover::after {
	        transform: scaleX(0.9);
        }
    }
}