@use "../01-utilities" as *;

.popup {
    will-change: visibility, opacity, transform;

    z-index: $z-max;
    position: fixed;
    top: 50%;
    left: 50%;

    height: 90%;
    overflow-y: scroll;
    scroll-padding-block: 64px;
    
    width: min(85%, 730px);
    background-color: $white;
    border-radius: 8px;
    padding: 32px 24px;

    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);

    transition-property: visibility, opacity, transform;
    transition-duration: 500ms;

    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &[show] {
        transition-delay: 300ms;
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    @include mq(tablet) {
        padding: 48px;
    }

    &__close-icon {
        cursor: pointer;
        position: absolute;
        top: 36px;
        right: 24px;

        @include mq(tablet) {
            top: 32px;
            right: 32px;
        }

        path {
            fill: rgba(#000000, 40%);
            transition: fill 300ms;
        }

        &:hover path {
            fill: $cyan;
        }
    }

    &__title {
        margin-bottom: 24px;
        font-size: pxToRem(18);
        color: $black;

        @include mq(tablet) {
            margin-bottom: 16px;
            font-size: pxToRem(24);
        }
    }

    &__text {
        margin-bottom: 24px;

        @include mq(tablet) {
            margin-bottom: 32px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }
}