@use "../01-utilities" as *;
@use "sass:color";

.header {
    min-height: 300px;
    padding-top: 32px;
    @include bg-image-hero("/images/image-hero-mobile.jpg");

    @include mq(tablet) {
        min-height: 400px;
        padding-top: 48px;
        @include bg-image-hero("/images/image-hero-desktop.jpg");
    }
}

.navbar {
    position: relative;
    z-index: $z-2; // To be above the menu overlayer

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: min(85%, 1110px);
    margin-inline: auto;

    @include mq(tablet) {
        align-items: baseline;
    }

    &__list {
        // MENU HIDDEN AND TRANSITIONS
        visibility: hidden;
        opacity: 0;
        transform: scale(0.7) translateY(100vh);
        transition-property: visibility, opacity, transform;
        transition-duration: 300ms;
        transition-delay: 150ms;

        // MENU POSITION
        position: absolute;
        width: 100%;
        top: 56px;
        left: 0;

        // MENU LAYOUT
        display: flex;
        flex-direction: column;
        
        // STYLES
        border-radius: 8px;
        font-size: pxToRem(18);
        font-weight: $medium;
        background-color: $white;
        color: $black;

        @include mq(tablet) {
            // MENU VISIBILITY
            visibility: visible;    
            opacity: 1;
            transform: scale(1) translateY(0);
            transition: none;

            // MENU POSITION
            position: static;
            width: auto;

            // MENU LAYOUT
            flex-direction: row;
            column-gap: 32px;


            // STYLES
            font-size: pxToRem(13);
            background-color: transparent;
            color: $white;
        }
    }

    &__link {
        position: relative;

        a {
            display: block;
            padding: 24px;

            &:focus {
                background-color: rgba(#2F2F2F, 10%);
            }

            @include mq(tablet) {
                padding: 0;
                padding-bottom: 6px;
            }
        }

        // To only add border bottom to the first 2 links
        &:nth-child(-n+2) {
            border-bottom: 1px solid rgba(#2F2F2F, 10%);

            @include mq(tablet) {
                border-bottom: none;
            }
        }

        // Links underline
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;

            width: 100%;
            height: 2px;
            background: #71CFC9;
            border-radius: 0 100% 100% 0;

            transform: scaleX(0) translateY(200%);
            transition: transform 300ms;
        }

        @include mq(tablet) {
            padding: 0;

            &:hover::after {
                transform: scaleX(100%) translateY(0);
            }
        }
    }

    &__menu-icon {
        display: none;
    }

    &__close-icon {
        display: none;
    }
}

// JS CLASSES

.activeIcon {
    display: block;
    animation: showIcon 300ms forwards;

    @include mq(tablet) {
        display: none;
    }
}

@keyframes showIcon {
    from {
        opacity: 0;
    }

    to { 
        opacity: 1;
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

.activeNavbar {
    visibility: visible;    
    opacity: 1;
    transform: scale(1) translateY(0);
}