@use "../01-utilities" as *;

.header {
    min-height: 300px;
    padding-top: 32px;
    @include bg-image-hero("/images/image-hero-mobile.jpg");

    @include mq(tablet) {
        min-height: 400px;
        padding-top: 48px;
        @include bg-image-hero("/images/image-hero-desktop.jpg");
    }
}

.navbar {
    position: relative;
    z-index: $z-2; // To be above the menu overlayer

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: min(85%, 1110px);
    margin-inline: auto;

    &__list {
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transform: scale(0.7) translateY(100vh);
        transition: visibility 500ms, opacity 500ms, transform 500ms;

        position: absolute;
        width: 100%;
        top: 56px; // Fixed value
        left: 0;

        display: flex;
        flex-direction: column;
        
        font-size: pxToRem(18);
        font-weight: $medium;
        color: $black;

        border-radius: 8px;
        background-color: $white;

        @include mq(tablet) {
            position: static;
            width: auto;

            flex-direction: row;
            column-gap: 32px;


            font-size: pxToRem(13);
            background-color: transparent;
            color: $white;
        }
    }

    &__link {
        position: relative;


        a {
            display: block;
            padding: 24px;
            transition: background-color 500ms;

            &:focus, &:hover {
                background-color: rgba($gray, 15%);
            }

            @include mq(tablet) {
                &:focus, &:hover {
                    background-color: initial;
                }
            }
        }

        // To only add border bottom to the first 2 links
        &:nth-child(-n+2) {
            border-bottom: 1px solid hsla(0, 0%, 18%, 0.1);

            @include mq(tablet) {
                border-bottom: none;
            }
        }

        // Underline
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;

            width: 100%;
            height: 1px;
            background-color: $white;

            transform: scaleX(0);
            transform-origin: left;
            transition: transform 300ms;
        }

        @include mq(tablet) {
            padding: 0;
            padding-block: 2px;

            &:hover::after {
                transform: scaleX(100%);
            }
        }
    }

    &__menu-icon {
        display: none;
        transition: opacity 500ms;

        @include mq(tablet) {
            display: none;
        }
    }

    &__close-icon {
        display: none;
    }
}

// JS CLASSES

.activeIcon {
    display: block;
    animation: showIcon 300ms forwards;
}

@keyframes showIcon {
    from {
        opacity: 0;
    }

    to { 
        opacity: 1;
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

.activeNavbar {
    visibility: visible;    
    opacity: 1;
    transform: scale(1) translateY(0px);
}