@use "../01-utilities" as *;

.support {
    @extend %section-card-layout;
    padding-top: 0;
    margin-bottom: 24px;

    &__logo {
        position: relative;
        top: 0;
        left: 50%;

        transform: translate(-50%, -50%);
    }

    &__title {
        margin-bottom: 16px;

        font-size: pxToRem(20);
        text-align: center;
        color: $black;

        @include mq(tablet) {
            font-size: pxToRem(28);
        }
    }
    
    &__text {
        margin-bottom: 24px;
        padding-inline: 8px;
        text-align: center;

        @include mq(tablet) {
            margin-bottom: 40px;
        }
    }
}

.support__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 9px;

}

.bookmark-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;

    border-radius: 999px;
    background-color: rgba(#2F2F2F, 5%);
    transition: background-color 300ms;

    &:hover {
        background-color: rgba(#2F2F2F, 20%);
    }

    &__text {
        display: none;
        padding-right: 24px;
        font-weight: $bold;
        color: $gray;

        @include mq(tablet) {
            display: block;
        }
    }
}



