@use "../01-utilities" as *;

// ========== REGULAR TEXT ==========

.text {
    font-size: pxToRem(14);
    line-height: 1.8;
    color: $gray;

    @include mq(tablet) {
        font-size: pxToRem(16);
    }
}

// ========== BUTTONS ==========

%button {
    width: min(100%, 210px);
    padding-block: 18px;
    border-radius: 32px;
    font-weight: $bold;
    color: $white;
}

.button--primary {
    @extend %button;
    background-color: $cyan;
    transition: background-color 300ms;

    &:hover, &:focus, &:focus-visible {
        background-color: #147A73;
    }

    &--small {
        @extend .button--primary;
        width: auto;
        font-size: pxToRem(14);
        padding-block: 16px;
        padding-inline: 32px;
    }
}

.button--disabled {
    @extend %button;
    background-color: rgba(#2F2F2F, 50%);

    &--small {
        @extend .button--disabled;
        width: auto;
        font-size: pxToRem(14);
        padding-block: 16px;
        padding-inline: 36px;
    }
}

button:focus-visible {
    outline: 2px dashed #2F2F2F;
    outline-offset: 4px;
}