@use "../01-utilities" as *;

button {
    display: block;
    border: none;
    outline: transparent;
    background-color: transparent;
    cursor: pointer;

    &[disabled] {
        cursor: auto;
    }

    &:focus-visible {
        outline: 2px dashed $dark-gray;
        outline-offset: 4px;
    }
}

%button {
    border-radius: 32px;
    font-weight: $bold;
    color: $white;

    &--primary {
        @extend %button;
        background-color: $cyan;
        transition: background-color 300ms;

        &:hover, &:focus, &:focus-visible {
            background-color: $dark-cyan;
        }
    }

    &--disabled {
        @extend %button;
        background-color: rgba($dark-gray, 50%);
    }
}