@use "../01-utilities" as *;
@use "buttons" as *;

.enter-pledge {
    will-change: height;
    
    height: 0px;
    padding-inline: 24px;

    overflow: hidden;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: transparent;

    transition-property: height, border-top-color;
    transition-duration: 300ms;

    @include mq(tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: pxToRem(15);
    }

    &__text {
        text-align: center;
        margin-top: 24px;
        margin-bottom: 16px;

        @include mq(tablet) {
            font-size: pxToRem(15);
            margin: 0;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 16px;
        margin-bottom: 24px;

        @include mq(tablet) {
            justify-content: flex-start;
            margin: 0;
        }
    }

    &__input-wrapper {
        display: flex;
        column-gap: 8px;
        max-width: 100px;
        padding: 16px 24px;
        border: 1px solid rgba(#000000, 15%);
        border-radius: 999px;

        transition: border-color 300ms;

        &[error] {
            animation: shakeInputError 500ms forwards;

            @keyframes shakeInputError {
                0% { transform: translateX(0) }
                25% { transform: translateX(-4px) }
                50% { transform: translateX(4px) }
                75% { transform: translateX(-4px) }
                100% { transform: translateX(0) }
            }
        }

        &:not(#noRewardInputWrapper) {
            cursor: pointer;
        }
        
        &:focus-within:not(#noRewardInputWrapper) {
            border-color: $cyan;
        }
    } 

    &__dollar-sign {
        font-size: pxToRem(14);
        font-weight: $bold;
        color: rgba(#000000, 25%);
    }

    &__pledge-input {
        -moz-appearance: textfield;
        appearance: textfield;

        display: block;
        width: 100%;
        outline: none;
        border: none;

        font-size: pxToRem(14);
        font-weight: $bold;
        color: $black;
        caret-color: $cyan;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &__submit-button {
        @extend %button--primary;

        font-size: pxToRem(14);
        padding: 16px 24px;
    }
}