@use "../01-utilities" as *;

.enter-pledge {
    will-change: height;
    height: 0px;
    padding-inline: 24px;

    overflow: hidden;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: transparent;

    transition-property: height, border-top-color;
    transition-duration: 300ms;

    @include mq(tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: pxToRem(15);
    }

    &[show] {
        height: 140px;
        border-top-color: rgba(#000000, 15%);

        @include mq(tablet) {
            height: 96px;
        }
    }

    &__text {
        text-align: center;
        margin-top: 24px;
        margin-bottom: 16px;

        @include mq(tablet) {
            font-size: pxToRem(15);
            margin: 0;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 16px;
        margin-bottom: 24px;

        @include mq(tablet) {
            justify-content: flex-start;
            margin: 0;
        }
    }

    &__input-wrapper {
        cursor: pointer;
        
        display: flex;
        column-gap: 8px;
        max-width: 100px;
        padding: 16px 24px;
        border: 1px solid rgba(#000000, 15%);
        border-radius: 999px;

        transition: border-color 300ms;

        &[focus] {
            border-color: $cyan;
        }
    } 

    &__dollar-sign {
        font-size: pxToRem(14);
        font-weight: $bold;
        color: rgba(#000000, 25%);
    }

    &__text-input {
        display: block;
        width: 100%;
        outline: none;
        border: none;

        font-size: pxToRem(14);
        font-weight: $bold;
        color: $black;
        caret-color: $cyan;
    }

    &__submit-button {
        padding: 16px 26px;
        border-radius: 999px;
        font-size: pxToRem(14);
        font-weight: $bold;
        color: $white;
        background-color: $cyan;
    }
}