@use "../01-utilities" as *;

.popup__card {
    cursor: pointer;

    padding: 24px;
    border-radius: 8px;
    border: 1px solid rgba(#000000, 15%);

    &__select-section {
        display: flex;
        align-items: center;
        column-gap: 16px;
        margin-bottom: 24px;
    }

    &__radio-input {
        position: relative;
        appearance: none;

        width: 24px;
        height: 24px;
        border: 1px solid rgba(#000000, 15%);
        border-radius: 999px;

        &::before {
            content: "";

            position: absolute;
            top: 50%;
            left: 50%;

            width: 12px;
            height: 12px;
            border-radius: 999px;
            background-color: $cyan;
            transform: translate(-50%, -50%) scale(0);

            transition: transform 300ms;
        }

        &:checked:before {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    &__title-pledge-container {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__title {
        font-size: pxToRem(14);
        color: $black;
    }

    &__pledge {
        font-size: pxToRem(14);
        font-weight: $medium;
        color: $cyan;
    }

    &__text {
        margin-bottom: 24px;
    }
}