@use "../01-utilities" as *;

.popup__card {
    position: relative;
    border-radius: 8px;
    outline: 1px solid rgba(#000000, 15%);
    border: 2px solid transparent;
    
    transition: border 300ms, outline 300ms;

    &:hover:not([disabled]) {
        outline-color: rgba(#000000, 40%);
    }

    &__content {
        cursor: pointer;

        padding-top: 24px;
        padding-inline: 24px;

        padding-bottom: 32px;
        padding-bottom: 24px; // When the pledge opens

        @include mq(tablet) {
            padding-top: 32px;
            padding-inline: 28px;
        }
    }

    &__text {
        margin-bottom: 24px;

        @include mq(tablet) {
            font-size: pxToRem(15);
        }
    }
}

.popup__card[active] {
    outline: 1px solid transparent;
    border: 2px solid $cyan;

    &:hover {
        outline-color: transparent;
    }

    .enter-pledge {
        height: 140px;
        border-top-color: rgba(#000000, 15%);

        @include mq(tablet) {
            height: 96px;
        }
    }
}

// DISABLED CARD
.popup__card[disabled] {
    $this: ".popup__card";

    opacity: 50%;
    
    #{$this}__content {
        cursor: auto;
    }

    input[type="radio"] {
        cursor: auto;
        pointer-events: none;
    }
}

// RADIO INPUT SECTION
.select {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 24px;
    
    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        @include mq(tablet) {
            flex-direction: row;
            align-items: center;
            column-gap: 16px;
        }
    }
    
    &__title {
        font-size: pxToRem(14);
        color: $black;

        @include mq(tablet) {
            font-size: pxToRem(16);
        }
    }
    
    &__pledge {
        font-size: pxToRem(14);
        font-weight: $medium;
        color: $cyan;

        @include mq(tablet) {
            font-size: pxToRem(16);
        }
    }
}

// UNITS LEFT SECTION
.units-left {
    display: flex;
    align-items: center;
    column-gap: 8px;

    @include mq(tablet) {
        position: absolute;
        top: 32px;
        right: 28px;
    }

    &__number {
        font-size: pxToRem(18);
        font-weight: $bold;
        color: $black;
    }
    
    &__text {
        font-size: pxToRem(15);
        color: $gray;
    }
}

// ERROR MESAGGE
.error-msg {
    margin-top: 24px;
    font-size: pxToRem(12);
    font-weight: $bold;
    line-height: 1.5;
    color: #B33C3C;

    opacity: 0;
    &[active] {
        transition: opacity 300ms;
        opacity: 1;
    }
}