@use "variables" as v;

// ========== MEDIA QUERIES ==========

@mixin mq($size) {
  //  Gets the value that is paired with the "$size" key in the "v.$breakpoints" map.
  $em: map-get(v.$breakpoints, $size);

  // Throws an error if "$size" is not found in the "v.$breakpoints" map.
  @if (not $em) {
    @error "Please enter a valid size ('tablet' or 'desktop')";
  }
  
  // Otherwise, the mixin will create the media query by setting the minimum width of the viewport to the value of "$em".
  @else {
    @media (min-width: $em) {
      @content;
    }
  }

  // @debug $em;
}

// ========== BACKGROUND IMAGE HERO ==========

@mixin bg-image-hero($url) {
  background: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
  url($url);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}