@use "functions" as f;

// ========== COLORS ==========

$cyan: #3CB3AB;
$dark-cyan: #147A73;
$white: #FFFFFF;
$black: #000000;
$gray: #7A7A7A;
$dark-gray: #2F2F2F;

// ========== FONT-WEIGHT ==========

$regular: 400;
$medium: 500;
$bold: 700;

// ========== Z-INDEX ==========

$z-1: 10;
$z-2: 20;
$z-3: 30;
$z-4: 40;
$z-max: 999;

// ========== LAYOUT MAX-WIDTH ==========

$max-width: 1180px;

// ========== MEDIA QUERIES BREAKPOINTS ==========

$breakpoints: (
  "tablet": f.pxToEm(720),
  "desktop": f.pxToEm(1020),
);